@import url('https://urldefense.com/v3/__https://fonts.googleapis.com/css2?family=Roboto*Condensed:ital,wght@0,100..900;1,100..900&display=swap__;Kw!!O7uE89YCNVw!JOxweyNqrTmVspnD_PE0e3FrR8zQsetXNbcTLbAqWJMVgcibtsoOL_s9ohbDTW19uWltt-3yo7dMPivD4CCWO-3VGQ$ ');

* {
    /* border: 1px solid red; */
}

body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
}

.header > h4 {
  flex: 1;
  padding-left: 12%;
  font-size: 24px;
}

.header > ul {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0 12% 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header > ul > li {
  font-size: 18px;
  padding: 4px 16px;
}

.header > ul > li > a {
  display: block;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  color: #e5e7eb;
  border-bottom: 2px solid #1f2937;
}

.header > ul > li > a:hover {
  border-bottom: 2px solid #e5e7eb;
}

.content {
    display: flex;
    flex-direction: column;
}

.main-title {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;

}

.main-title-left,
.main-title-right {
  flex: 1;
}

.main-title-left {
    padding-left: 12%;
    padding-right: 5px;
}

.main-title-right {
    padding-left: 5px;
    padding-right: 12%;
}

.main-title-left > p,
.main-title-left > h1 {
  margin: 5px 0;
}

.img-placeholder {
  width: 525px;
  height: 245px;
  text-align: center;
  background-color: #6D747D;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title-left > button {
  background-color: #3882f6;
  padding: 3px 24px;
  color: #e5e7eb;
  font-weight: 600;
  border-radius: 5px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote p {
  width: 65%;
}

#thor {
  text-align: right;
  font-size: 24px;
  font-weight: 800;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
}